* {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: sans-serif;
}

.oncogene {
    max-width: 800px;
    border: 1px solid #999;
    margin: 16px auto;
    padding: 16px;
    border-radius: 4px;
}

.oncogene__hint {
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 16px;
}

.oncogene-variants {
    display: flex;
    justify-content: space-around;
}

.oncogene-variant {
    background-color: #eee;
    padding: 16px;
    border-radius: 4px;
    cursor: pointer;
    opacity: .8;
}

.oncogene-variant:hover {
    opacity: 1;
}

.oncogene-variant__hint {
    font-weight: bold;
    opacity: .7;
    margin-bottom: 16px;
}

.oncogene-variant__code {
    font-family: monospace;
    white-space: pre;
}

.oncogene__result {
    font-family: monospace;
    white-space: pre;
}
